.user-card {
    display: grid;
    grid-auto-rows: 1fr 0.5fr 2fr;
    justify-self: center;
    text-align: center;
    box-sizing: border-box;
    width: min(100%, 215px);
    aspect-ratio: 0.7;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 1px black;

    span {
        padding: 20px;
        align-content: center;

        &:first-child {
            border-radius: 20px;
        }

        &:nth-child(2) {
            text-decoration: underline;
            padding-bottom: 0;
        }

        &:last-child {
            align-content: start;
        }
    }

    button {
        margin: 0 auto;
        width: 80%;
        height: 50%;
    }
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}