.container {
  margin: 0 auto;
  max-width: 1920px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 35px;

  .escape-container {
    padding: 10px;

    button {
      justify-items: center;
      align-items: center;
      padding: 3px;

      img {
        display: block;
        max-width: 25px;
        transform: scaleX(-1);
      }
    }
  }
}

.user-form {
  justify-self: center;
  width: min(90%, 700px);
  box-sizing: border-box;
  padding: min(3%, 25px);
  border-radius: 25px;
  box-shadow: 0px 5px 20px black;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 15px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input,
    textarea,
    select {
      padding: 2%;
    }

    textarea {
      max-width: calc(100% - 25px);
    }
  }

  .full {
    grid-column: 1 / -1;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  button {
    width: 45%;
    padding: 12px;
  }

  .middle-button {
    margin: 0 auto;
  }
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.red {
  background: red;
}