<div class="container">
    <nav class="filters-container">
        <input type="text">
        <button><img src="/sort-up.svg"></button>
        <button><img src="/sort-down.svg"></button>
    </nav>
    <ul class="users-list">
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
        <li><app-user-card [user]="exampleUser()" /></li>
    </ul>
    <nav class="page-controls">
        <button><img src="/next-page.svg"></button>
        <button><img src="/next-page.svg"></button>
    </nav>
</div>