<div class="container">
    <nav class="filters-container">
        <input type="text">
        <button><img src="/sort-up.svg"></button>
        <button><img src="/sort-down.svg"></button>
    </nav>
    <ul class="users-list">
        @if(!users()) {
            <li>No users was found</li>
        }
        @else {
            @for (user of users(); track user.id) {
                <app-user-card [user]="user"></app-user-card>
            }
        }
    </ul>
    <nav class="page-controls">
        <button><img src="/next-page.svg"></button>
        <button><img src="/next-page.svg"></button>
    </nav>
</div>